<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "App",

  data: () => ({
    title: "",
  }),
  created() {
    console.log(process.env.VUE_APP_API_URL);
    this.getAllQuestions();
  },
  computed: {
    ...mapState(["questions"]),
  },
  methods: {
    ...mapActions(["getAllQuestions", "createQuestion"]),
    addQuestion() {
      this.createQuestion(this.title);
    },
  },
};
</script>
