<template>
  <v-list>
    <v-list-item v-if="!questions.length" class="text--secondary">
      List des questions vide
    </v-list-item>
    <v-list-group
      v-else
      v-for="question in questions"
      :key="question.id"
      :value="false"
    >
      <template v-slot:activator>
        <v-list-item-title class="text-h6">
          {{ question.title }}
        </v-list-item-title>
      </template>

      <v-list-item v-if="question.responses.length">
        <v-list-item-content class="pl-10 text--secondary body-1">
          <v-list-item
            v-for="(response, index) in question.responses"
            :key="index"
          >
            {{ response }}
          </v-list-item>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="isAdminPath">
        <div class="d-flex flex-column flex-grow-1">
          <v-textarea
            auto-grow
            outlined
            rows="1"
            row-height="15"
            class="pt-1 mb-n7"
            v-model="responseTitle"
          >
            <template v-slot:label>
              <div>Votre réponse</div>
            </template>
          </v-textarea>
          <v-btn
            @click="insertResponse(question)"
            class="mb-1"
            color="primary"
          >
            Envoyer
          </v-btn>
        </div>
      </v-list-item>
    </v-list-group>
  </v-list>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "ListQuestion",
  props: {
    questions: Array,
  },
  data() {
    return {
      responseTitle: "",
    };
  },
  computed: {
    isAdminPath() {
      return this.$route.name === "Admin";
    },
  },
  methods: {
    ...mapActions(["createResponse"]),
    insertResponse(question) {
      const response = this.responseTitle;
      if (response) {
        this.createResponse({ question, response });
        this.responseTitle = "";
      }
    },
  },
};
</script>

<style scoped></style>