<template>
  <div>
    <div class="text-center text-h3 pa-4 pt-14 text--secondary">
      Administrateur
    </div>
    <v-card class="mx-auto" width="600">
      <v-toolbar dark flat color="primary">
        <v-toolbar-title>Liste des questions</v-toolbar-title>
      </v-toolbar>
      <ListQuestion :questions="questions"></ListQuestion>
    </v-card>
  </div>
</template>

<script>
import ListQuestion from "@/components/ListQuestion";
import { mapState } from "vuex";
export default {
  name: "Home",
  components: { ListQuestion },
  computed: {
    ...mapState(["questions"]),
  },
};
</script>
