<template>
  <div>
    <div class="text-center text-h3 pa-4 pt-14 text--secondary">FAQ</div>
    <v-card class="mx-auto" width="600">
      <v-toolbar dark flat color="primary">
        <v-text-field
          flat
          hide-details
          solo-inverted
          label="Poser votre question ici"
          v-model="questionTitle"
          @keypress.enter="insertQuestion"
        ></v-text-field>
      </v-toolbar>
      <ListQuestion :questions="getUserQuestions"></ListQuestion>
    </v-card>
  </div>
</template>

<script>
import ListQuestion from "@/components/ListQuestion";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Home",
  components: { ListQuestion },
  data() {
    return {
      questionTitle: "",
    };
  },
  created() {
    this.getAllQuestions();
  },
  computed: {
    ...mapGetters(["getUserQuestions"]),
  },
  methods: {
    ...mapActions(["getAllQuestions", "createQuestion"]),
    insertQuestion() {
      if (this.questionTitle) {
        this.createQuestion(this.questionTitle);
        this.questionTitle = "";
      }
    },
  },
};
</script>
